*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background: #f4f4f4;
    background-size: 400% 400%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    display: inline-block;
    margin: 0;
}

a .event-col{
    display: block;
    margin: 0 15px;
    text-decoration: none;
    color: inherit;
}

.header_center h1{
    color: rgb(0, 136, 169, 1);
}

a:hover{
    color: rgb(0, 136, 169, 1);
}

/* HEADER */

header{
    position: relative;
    padding: 0 2rem;
}

.header_center{
    position: relative;
    align-items: center;
    text-align: center;
}


.navbar{
    width: 100%;
    height: 40px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: #fff;

}

.action_btn:active{
    scale: 0.95;
}

/* DROPDOWN MENU */

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu.open{
    height: 240px;
}


/* HERO */

section#hero{
    /* height: calc(100vh - 60px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* HEADER RESPONSIVENESS */

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}


@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}


/* EVENTS */
.event{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.event-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 2px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.event-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    color: rgb(0, 136, 169, 1);
}

.event-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 100%;
    width: 100%;
  }

  /* ----------Footer-------- */

.footer{
    margin-top: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: rgb(0, 136, 169, 1);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o{
    color: rgb(0, 136, 169, 1);
}













